{{#each postData as |post| }}
<div class="card row mb-4 post-list">
  <div class="col-md-5">
    <div class="card-title"> 
    <h2>
      <a href="/dashboard/edit/{{post.id}}">{{post.title}}</a>
    </h2>
    </div>
    <p>
      {{post.post_text}}
    </p>
  </div>
</div>
{{/each}}
